html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.universe {
    position: fixed;
    background-color: rgb(15, 90, 15);    
    margin: 0;
    padding: 0;
    border: 0;
}

.scoreboard {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.507);    
    margin: 0;
    padding: 0;
    border: 1px solid rgba(255, 0, 0, 0.555);
    top: 10px;
    left: 10px;
    width: 100px;
    height: 40px;
}

.world {
    position: fixed;
    background-color: black;    
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.agar-element {
    position: absolute;
    border-radius: 50%;
    background-color: orange;
    margin: 0;
    padding: 0;
    border: 0;
}

.cell {
    position: fixed;
    border-radius: 50%;
    background-color: orange;
    margin: 0;
    padding: 0;
    border: 0;
}

.virus {
    position: absolute;   
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: rgba(0, 128, 0, 0.671);
    margin: 0;
    padding: 0;
    border: 0;
}

.pellet {
    position: absolute;   
    border-radius: 50%;
    width: 1px;
    height: 1px;
    background: green;
    margin: 0;
    padding: 0;
    border: 0;
}

.leaderboard {    
    position: fixed;
    background-color:#00000081;    
    margin: 0;
    padding: 0;
    border: 1px solid rgba(255, 0, 0, 0.644);
    width: 200px;
    top: 10px;
    right: 10px;
    height: 300px;
}

.leaderboard ul {
    padding: 14px;
    margin: 0;
    color: white;
}

.respawn {
    position: fixed;
    top: 50%;
    left: 50%;  
}



